{tpic,#{peers => [{"c1n2", 43218},{"c1n3", 43219}], port => 43217, allow_rfc1918 => true}}.
{hostname, "c1n1"}.
{discovery,#{addresses =>[
  #{address => "c1n1", port => 43217, proto => tpic},
  #{address => "c1n1", port => 43390, proto => apis},
  #{address => "c1n1", port => 43290, proto => api}
]}}.
{privkey, <<"45FFAC5441EFD5C367433F8EB61F14C0D142C7BE944632470772B3D7F499298D">>}.
{rpcport, 43290}.
{rpcsport, 43390}.
{tpic_port, 43217}.
{crosschain, #{port=>43312}}.
