{tpic,#{peers => [{"c1n1", 43217},{"c1n3", 43219}], port => 43218, allow_rfc1918 => true}}.
{hostname, "c1n2"}.
{discovery,#{addresses =>[
  #{address => "c1n2", port => 43218, proto => tpic},
  #{address => "c1n2", port => 43391, proto => apis},
  #{address => "c1n2", port => 43291, proto => api}
]}}.
{privkey, <<"1A06541CD77174849C32D0EAFAEC70CABCEC94118E5DF2584C48642EAB0BA79D">>}.
{dbsuffix,"_c1n2"}.
{rpcport, 43291}.
{rpcsport, 43391}.
{tpic_port, 43218}.
{crosschain, #{port=>43313}}.
