{tpic,#{peers => [{"c1n1", 43217},{"c1n2", 43218}], port => 43219, allow_rfc1918 => true}}.
{hostname, "c1n3"}.
{discovery,#{addresses =>[
  #{address => "c1n3", port => 43219, proto => tpic},
  #{address => "c1n3", port => 43392, proto => apis},
  #{address => "c1n3", port => 43292, proto => api}
]}}.
{privkey, <<"3C89F9BCC2F29AAA145E1E750507706C5CD286D61FF569F998CDD15CC275B65A">>}.
{rpcport, 43292}.
{rpcsport, 43392}.
{tpic_port, 43219}.
{crosschain, #{port=>43314}}.
