{tpic,#{peers => [{"node1", 43217},{"node2", 43218}], port => 43219}}.
{hostname, "node3"}.
{discovery,#{addresses =>[
  #{address => "node3", port => 43219, proto => tpic},
  #{address => "node3", port => 43392, proto => apis},
  #{address => "node3", port => 43292, proto => api}
]}}.
{privkey, <<"1C8D66C1E3A3F3F4C4E9F70201C9CD784AFBBF82A6717348F6AC95B7FC7EF84F">>}.
{rpcport, 43292}.
{rpcsport, 43392}.
{tpic_port, 43219}.
{crosschain, #{port=>43314}}.
