{tpic,#{peers => [{"node1", 43217},{"node3", 43219}], port => 43218}}.
{hostname, "node2"}.
{discovery,#{addresses =>[
  #{address => "node2", port => 43218, proto => tpic},
  #{address => "node2", port => 43391, proto => apis},
  #{address => "node2", port => 43291, proto => api}
]}}.
{privkey, <<"9B55843260EAA2B32DA21E8E3CC562AE7FA3768468422007E011B079450A0D0E">>}.
{rpcport, 43291}.
{rpcsport, 43391}.
{tpic_port, 43218}.
{crosschain, #{port=>43313}}.
