{tpic,#{peers => [{"node2", 43218},{"node3", 43219}], port => 43217}}.
{hostname, "node1"}.
{discovery,#{addresses =>[
  #{address => "node1", port => 43217, proto => tpic},
  #{address => "node1", port => 43390, proto => apis},
  #{address => "node1", port => 43290, proto => api}
]}}.
{privkey, <<"670270653FBBBC3AF41EF92CECF120CFB27F3D3C8E2D6032433E60A4016BC692">>}.
{rpcport, 43290}.
{rpcsport, 43390}.
{tpic_port, 43217}.
{crosschain, #{port=>43312}}.
